/*
font-family: 'Roboto', sans-serif;
font-family: 'Gelasio', serif;
font-family: 'Bangers', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Alata', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Kalam', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'VT323', monospace;*/
span{
    padding: 20px;
}
.navbar-brand, .nav-item {
    font-family:'Permanent Marker', Arial ;
    padding-left: 30px;
}
.space{
  /*background-image: url("./twinkle.gif");*/
    padding: 400px;
}
.navbar.navbar-expand-lg.navbar.navbar-dark.bg-dark {
    color: white;
}
.bg-dark {
    background-color: transparent;
}
h1 {
    text-align: center;
    color:white;
}
body {
      background-image: url("./background-01.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-position: top center !important;
      background-size: cover;
      align-items: center;
      background-color:#090C21;
      background-size: cover;
}
svg{
    max-width: 100%;
    padding-left: 30px;
}
 
 .row1{
     padding-top: 150px;
 }
 .row2 {
    padding-top: 150px;
}
.row3 {
    padding-top: 250px;
}

h1{
    padding-bottom: 65px;
}
#logo {
    width: 60%;
    height: 30%;
    top: 50px;
    left: 50px;
    animation: fill 0.5s ease forwards 3s;
}
#logo1 {
    
    width: 60%;
    height: 30%;
    top: 50px;
    left: 50px;
    animation: fill 0.5s ease forwards 3s;

}
#logo3 {
    width: 60%;
    height: 30%;
    top: 50px;
    left: 50px;
    animation: fill 0.5s ease forwards 3s;

}
.navbar-dark.navbar-brand{
    padding-left: 500px;
}
#divide{
    padding-top: 80px;
}

#logo path:nth-child(1){
    stroke-dasharray: 449;
    stroke-dashoffset: 449;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(2){
    stroke-dasharray: 549;
    stroke-dashoffset: 549;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(3){
    stroke-dasharray: 566;
    stroke-dashoffset: 566;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(4){
    stroke-dasharray: 312;
    stroke-dashoffset: 312;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(5){
    stroke-dasharray: 463;
    stroke-dashoffset: 463;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(6){
    stroke-dasharray: 509;
    stroke-dashoffset: 509;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(7){
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(8){
    stroke-dasharray: 494;
    stroke-dashoffset: 494;
    animation: line-anim 2s ease forwards 2.4s;
}
#logo1 path:nth-child(1){
    stroke-dasharray: 732;
    stroke-dashoffset: 732;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo1 path:nth-child(2){
    stroke-dasharray: 911;
    stroke-dashoffset: 911;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo1 path:nth-child(3){
    stroke-dasharray: 844;
    stroke-dashoffset: 844;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo1 path:nth-child(4){
    stroke-dasharray: 722;
    stroke-dashoffset: 722;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo1 path:nth-child(5){
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo1 path:nth-child(6){
    stroke-dasharray: 1127;
    stroke-dashoffset: 1127;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo1 path:nth-child(7){
    stroke-dasharray: 693;
    stroke-dashoffset: 693;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo3 path:nth-child(1){
    stroke-dasharray: 706;
    stroke-dashoffset: 706;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo3 path:nth-child(2){
    stroke-dasharray: 786;
    stroke-dashoffset: 786;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo3 path:nth-child(3){
    stroke-dasharray: 839;
    stroke-dashoffset: 839;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo3 path:nth-child(4){
    stroke-dasharray: 467;
    stroke-dashoffset: 467;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo3 path:nth-child(5){
    stroke-dasharray: 680;
    stroke-dashoffset: 680;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo3 path:nth-child(6){
    stroke-dasharray: 706;
    stroke-dashoffset: 706;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo3 path:nth-child(7){
    stroke-dasharray: 467;
    stroke-dashoffset: 467;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo3 path:nth-child(8){
    stroke-dasharray: 685;
    stroke-dashoffset: 685;
    animation: line-anim 2s ease forwards 2.4s;
}
img {
    width: 60%;
    height: 30%;
}

.avatar {
    padding-top: 180px;
    width: 95%;
    height: 30%;
}

.size{
    width: 351px;
    height: 263px;
}
.padding {
    padding-bottom: 300px;
}
.ui.inverted.segment {
    background: transparent;
    padding-top: 50px;
    text-align: center;
}
p{
    color:whitesmoke;
    padding-left: 100px;
    padding-right: 100px;
    padding-top:50px;
}
.navbar-nav {
    padding-left: 930px;
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from {
        fill: transparent;
    }
    to{
       fill: white; 
    }
}
